name: Flutter CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.24.0'
        channel: 'stable'

    - name: Install dependencies
      run: flutter pub get
      working-directory: ExpenseTracker

    - name: Analyze code
      run: flutter analyze
      working-directory: ExpenseTracker

    - name: Run tests
      run: flutter test
      working-directory: ExpenseTracker
